.App {
  text-align: center;
  background-color: #0f90cd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0f90cd;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 3%;
}

.App-link {
  color: white;
  text-decoration: none;
}

.StartProcess {
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #0f90cd;
  padding: 10px;
  font-size: 18px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
